body {
  margin: 0;
  padding: 0;
  top: 50px;
  display: flex;
  justify-content: center;
}

.game {
  height: 500px;
  width: 500px;
  background-color: yellow;
  position: absolute;
}

.character {
  background-color: red;
  height: 70px;
  width: 40px;
  position: absolute;
  bottom: 0;
}

.character-slide {
  background-color: red;
  height: 40px;
  width: 70px;
  position: absolute;
  bottom: 0;
}